// text color
$black-color: #1b1b1b;
$white-color: #ffffff;

// Theme color
$main-color: #292a2e;
$secondary-color: #242528;
$blue-color: #262261;
$orange-color: #ee4036;
$yellow-color: #e2f516;
$green-color: #31cc31;

// $secondary-color: #00b4d8;
// $color-2: #d9e3e8;
// $color-3: #698fb3;
// $color-4: #fd5901;
// $color-5: #f78104;
