// text color
$color-black: #000000;
$color-white: #ffffff;

// Theme color
$main-color: #1b1b1b;
$secondary-color: #00b4d8;
$secondary-color-1: #faab36;
$secondary-color-2: #005f60;
$secondary-color-3: #249ea0;
$secondary-color-4: #008083;
// $color-2: #d9e3e8;
// $color-3: #698fb3;
// $color-4: #fd5901;
// $color-5: #f78104;
