// text color
$color-black: #000000;
$color-white: #ffffff;

// Theme color
$bg-color: #4c94bc;
$main-color: #bc8565;
$color-1: #38516d;
$color-2: #d9e3e8;
$color-3: #698fb3;
$color-4: #fd5901;
$color-5: #f78104;
$color-6: #faab36;
$color-7: #249ea0;
$color-8: #008083;
$color-9: #005f60;
