/* header change */ 
body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background-color: #000000;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-container {
    width: 70%;
}

.logo-img {
    border-radius: 50%;
    width: 100px;
    height: 100px; 
}

.header-items {
    width: 30%;
}

.item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

