body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background: #060a1f;
    
}

/* header css */ 

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #0c0622;
    border-bottom: 2px solid #ffffff;
}

.logo-container {
    width: 70%;
}

.logo-img {
    border-radius: 50%;
    width: 70px;
    height: 70px; 
}

.header-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.item {
    list-style: none;
}

.links {
    text-decoration: none;
    color: #ffffff;
}

/* Intro css */ 

.intro {
    max-width: 800px;
    width: 100%;
    outline: 3px solid royalblue;
    padding: 20px 10px 10px 10px;
    margin: 50px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.started {
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    position: relative
}

.started::after,
.started::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.started::before {
    background: rosybrown;
}

.subtitle {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    padding: 20px 0;
}