@import "./scss/color";
@import "./scss/reuse_function";
@import "./scss/font";
@import "./scss/device_size";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @include font_family_oswald;
}

/* mobile */
body {
  background-color: $main-color;
}

.wide-dimension-header,
.wide-dimension-main {
  padding: 0 10px;
  overflow: hidden;
}

.wide-dimension-header {
  background-color: $main-color;
}

.wide-dimension-main {
  background-color: $secondary-color;
}

.header {
  @include display_flex_space_between;
  padding: 20px 10px;
  position: relative;
  background-color: $main-color;

  .logo {
    color: $color-white;
    letter-spacing: 1px;

    span {
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: 2px;
      color: $orange-color;
    }
  }

  .menu-items {
    position: absolute;
    text-align: center;
    top: 65px;
    background-color: $secondary-color;
    overflow: hidden;
    width: 0;
    right: 0;
    z-index: 50;
    padding: 30px 0;
    transition: all 0.233s ease-in;

    &.active {
      width: 50%;
    }

    .section-item {
      list-style: none;

      .links {
        color: $color-white;
        text-decoration: none;
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  .menu {
    i {
      font-size: 25px;
      color: $color-white;
    }
  }
}

.intro {
  .intro_animation {
    text-align: center;
    @include display_flex_center;
    flex-direction: column;

    .started-animation {
      font-weight: bold;
      color: $color-white;
      max-width: max-content;
      font-size: 25px;
      position: relative;
      @include font_family_oswald;
      letter-spacing: 2px;

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &::after {
        background: $color-white;
        width: 3px;
        animation: typewitting 4s steps(41) forwards,
          blink 750ms steps(41) infinite;
      }

      &::before {
        background: $main-color;
        animation: typewitting 4s steps(41) forwards;
      }
    }

    .welcome-text {
      font-size: 22px;
      color: $orange-color;
      font-weight: bold;
      padding: 20px 0;
      transform: translateY(4px);
      opacity: 0;
      animation: fadeInUp 2s ease 4.5s forwards;
      letter-spacing: 2px;
    }
  }

  // .intro-image {
  //   opacity: 0;
  //   transform: translateY(50px);
  //   animation: fadeInUpImage 2s ease 6s forwards;

  //   img {
  //     width: 70%;
  //   }
  // }

  @keyframes typewitting {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUpImage {
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .profile_picture {
    padding: 20px;
    background-color: $blue-color;
    border-radius: 46% 54% 57% 43% / 50% 35% 65% 50%;

    img {
      width: 100%;
      border-radius: 69% 31% 27% 73% / 48% 46% 54% 52%;
    }
  }
}

.cv_section {
  margin-bottom: 35px;
  border: 1px solid $color-black;

  .sub-title {
    text-align: center;
    @include font_family_lora;
    color: $orange-color;
    font-size: 25px;
    text-transform: uppercase;
  }
}

.cv_section.brief {
  background-color: $secondary-color;
}

.brief-wrapper {
  .about-me-information {
    order: 1;

    .about-name {
      margin-top: 20px;
      margin-bottom: 20px;
      color: $color-white;
      font-size: 1.2rem;
      letter-spacing: 3px;

      span {
        color: $orange-color;
      }
    }

    .about-me {
      color: $color-white;
      margin-bottom: 10px;
      letter-spacing: 2px;
      padding: 0 10px;
      font-size: 1rem;
    }

    .summary {
      color: $color-white;
      line-height: 25px;
      padding: 0 10px;
      letter-spacing: 2px;
      font-size: 1rem;
    }
  }

  .interest-wrapper {
    margin-top: 20px;

    .interest-box {
      border: 1px solid $color-white;
      padding: 15px 20px;
      max-width: 600px;
      margin: 0 auto 20px;

      .interest-title {
        color: $yellow-color;

        .return {
          margin-left: 20px;
        }

        .value {
          color: $orange-color;
        }

        .foreach {
          margin-left: 20px;
          color: $orange-color;
        }

        .console {
          margin-left: 40px;
          color: $yellow-color;
        }
      }

      .success {
        color: $green-color;
        margin-bottom: 20px;
      }

      .hobbie-wrapper,
      .lang-flap-wrapper {
        @include display_flex_space_between;
        gap: 10px;

        .hobbie-item {
          text-align: center;

          .hobbie-name {
            margin-top: 10px;
            color: $color-white;
          }
        }
      }
    }
  }
}

.my_journey {
  .flight-announcement {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    color: $color-white;
    font-size: 20px;
  }

  .education_journey {
    position: relative;

    i.airplane {
      rotate: 90deg;
      right: 0;
      font-size: 45px;
      position: absolute;
    }

    .timeline {
      display: flex;
      justify-content: flex-end;

      .line {
        display: none;
      }
    }

    .time-stop {
      @include display_flex_center;
      flex-direction: column;
      position: relative;
      gap: 10px;
      margin-bottom: 40px;

      .year,
      .outcome {
        width: 100%;
        color: $color-white;
        max-width: 320px;
      }

      .year {
        order: 1;
        .work-year {
          border: 1px solid $main-color;
          padding: 10px;
          min-width: 120px;
          max-width: 200px;
          text-align: center;
          height: 70px;
          line-height: 50px;
          background-color: $main-color;
          box-shadow: 5px 5px 5px 0px rgb(28, 28, 28);
        }

        .year-one {
          transform: translateY(-5px);
          display: inline-block;
          color: $green-color;
        }

        .year-two {
          transform: translateY(5px);
          display: inline-block;
        }
      }

      .outcome {
        border: 1px solid $main-color;
        padding: 10px;
        background-color: $main-color;
        box-shadow: 5px 5px 5px 0px rgb(28, 28, 28);
        order: 2;

        .timeline-text {
          line-height: 25px;
          letter-spacing: 1.5px;
          max-width: 250px;
        }

        .timeline-text:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      .point {
        display: none;
      }
    }
  }
}

.skill-learn {
  .technology-wrapper {
    padding: 0 10px;

    .technology-used {
      @include display_flex_center;
      flex-wrap: wrap;
      gap: 10px 50px;

      .category {
        text-align: center;
        display: flex;
        flex-direction: column;

        .logo-wrapper {
          @include display_flex_center;
          padding: 10px;
          gap: 30px;
          height: 90px;

          .logo {
            text-align: center;
            border-radius: 58% 42% 45% 55% / 51% 38% 62% 49%;
          }
        }

        .cat {
          color: $color-white;
          font-size: 13px;
          text-transform: uppercase;
          max-width: 100px;
          margin: 5px auto 10px;
          order: 1;
          height: 40px;
        }
      }
    }
  }
}

.cv_section.project_done {
  height: auto;

  .swiper {
    width: 80%;
    padding-top: 50px;
    height: 325px;
  }

  .swiper.landscape {
    height: 250px;
    margin-bottom: 30px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 150px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, transparent, #0002, #0004);
  }

  .project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .project-item {
      width: 90%;
      margin: 0 auto;
      height: 300px;
      border: 1px solid #060a1f;
      margin-bottom: 20px;
    }
  }
}

//tablet
@media (width >= 768px) {
  .header {
    .menu-items {
      @include display_flex_space_between;
      position: unset;
      width: unset;
      height: unset;
      background-color: unset;
      padding: unset;
      overflow: unset;
      gap: 45px;

      .section-item {
        .links {
          margin-bottom: unset;
        }
      }
    }

    .menu {
      display: none;
    }
  }

  .intro {
    @include display_flex_space_between;
    gap: 5px;

    .intro_animation {
      width: 50%;
    }

    .profile_picture {
      width: 50%;
    }
  }

  .brief-wrapper {
    @include display_flex_space_between;
    gap: 35px;

    .about-me-information,
    .interest {
      width: 50%;
    }

    .interest {
      order: 0;
      padding: unset;
    }

    .about-me-information {
      order: 1;
      .about-me {
        padding: unset;
      }

      .summary {
        padding: unset;
      }
    }
  }

  .my_journey {
    .flight-announcement {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 50px;
      color: $color-white;
      font-size: 20px;
    }

    .education_journey {
      margin-top: 40px;

      i.airplane {
        font-size: 45px;
        position: relative;
        z-index: 10;
        transform: translate(-10px, 2px);
      }

      .timeline {
        @include display_flex_center;
        gap: 20px;

        .line {
          width: 2px;
          height: 30px;
          background-color: $orange-color;
          display: block;
        }
      }

      .time-stop {
        @include display_flex_center;
        flex-direction: unset;
        gap: 0 30px;
        position: relative;
        margin-bottom: 15px;

        .align-right {
          text-align: right;
        }

        .align-left {
          text-align: left;
        }

        .year,
        .outcome {
          width: 100%;
          color: $color-white;
          max-width: 320px;
          order: unset;
        }

        .year {
          .work-year {
            border: 1px solid $main-color;
            padding: 10px;
            min-width: 120px;
            max-width: 200px;
            text-align: center;
            height: 70px;
            line-height: 50px;
            background-color: $main-color;
            box-shadow: 5px 5px 5px 0px rgb(28, 28, 28);
          }

          .work-year.left-pos {
            margin-right: auto;
          }

          .work-year.right-pos {
            margin-left: auto;
          }

          .year-one {
            transform: translateY(-5px);
            display: inline-block;
            color: $green-color;
          }

          .year-two {
            transform: translateY(5px);
            display: inline-block;
          }
        }

        .outcome {
          border: 1px solid $main-color;
          padding: 10px;
          background-color: $main-color;
          box-shadow: 5px 5px 5px 0px rgb(28, 28, 28);

          .timeline-text {
            line-height: 25px;
            letter-spacing: 1.5px;
            max-width: unset;
          }

          .timeline-text:not(:last-child) {
            margin-bottom: 10px;
          }
        }

        .point {
          width: 25px;
          height: 25px;
          border: 2px solid $orange-color;
          border-radius: 50%;
          position: relative;
          display: block;

          &::before,
          &::after {
            content: "";
            width: 2px;
            height: 105px;
            background-color: $orange-color;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }

          &::before {
            top: 24px;
          }

          &::after {
            bottom: 24px;
          }

          .center-point {
            width: 7px;
            height: 7px;
            background-color: $orange-color;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .skill-learn {
    .technology-wrapper {
      padding: 0 10px;

      .technology-used {
        @include display_flex_center;
        flex-wrap: wrap;
        gap: 50px;

        .category {
          text-align: center;
          display: flex;
          flex-direction: column;

          .logo-wrapper {
            @include display_flex_center;
            padding: 10px;
            gap: 30px;
            height: 90px;

            .logo {
              text-align: center;
              border-radius: 58% 42% 45% 55% / 51% 38% 62% 49%;
            }
          }

          .cat {
            color: $color-white;
            font-size: 13px;
            text-transform: uppercase;
            max-width: 100px;
            margin: 5px auto 10px;
            order: 1;
            height: 40px;
          }
        }
      }
    }
  }
}

@media (width >= 1024px) {
  .cv_section.project_done {
    .swiper {
      height: 575px;
    }

    .swiper.landscape {
      height: 475px;
    }

    .swiper-slide {
      width: 300px;
    }
  }
}

//desktop
@media (width >=1600px) {
  .wide-dimension-header,
  .wide-dimension-main {
    max-width: $desktop;
    margin: 0 auto;
  }

  .cv_section.project_done {
    .swiper,
    .swiper.landscape {
      height: 100%;
    }

    .swiper-slide {
      width: 400px;
    }

    .swiper.landscape {
      margin-bottom: 100px;
    }
  }
}
