@import "./scss/color";
@import "./scss/reuse_function";
@import "./scss/font";
@import "./scss/device_size";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @include font_family_oswald;
}

/* mobile */
body {
  background-color: #252525;
}

.wide-dimension-header,
.wide-dimension-main {
  padding: 0 10px;
  overflow: hidden;
}

.wide-dimension-header {
  background-color: $main-color;
}

.wide-dimension-main {
  background-color: $secondary-color;
  position: relative;
}

.logo {
  color: $white-color;
  letter-spacing: 1px;

  span {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    color: $orange-color;
  }
}

.see-all-btn {
  width: 160px;
  color: $white-color;
  padding: 15px 20px;
  border: 1px solid $white-color;
  border-radius: 2px;
  background-color: $main-color;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  text-align: left;
  transition: all 0.233s ease-in;
  border-radius: 3px;

  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    .fa-arrow-right {
      color: $white-color;
      font-size: 15px;
      transition: all 0.233s ease-in;
    }
  }

  &:hover {
    color: $main-color;
    border-color: $main-color;
    background-color: $white-color;

    .icon {
      .fa-arrow-right {
        color: $main-color;
        transform: translateX(10px);
      }
    }
  }

  @keyframes arrow {
    to {
      left: 100px;
    }
  }
}

.high-light-orange {
  color: $orange-color;
}

.high-light-green {
  color: $green-color;
}

.header {
  @include display_flex_space_between;
  padding: 20px 10px;
  position: relative;
  background-color: $main-color;

  .menu-items {
    position: absolute;
    text-align: center;
    top: 65px;
    background-color: $secondary-color;
    overflow: hidden;
    width: 0;
    right: 0;
    z-index: 50;
    padding: 30px 0;
    transition: all 0.233s ease-in;

    @media (width >= 768px) {
      @include display_flex_space_between;
      position: unset;
      width: unset;
      height: unset;
      background-color: unset;
      padding: unset;
      overflow: unset;
      gap: 45px;
    }

    &.active {
      width: 50%;
    }

    .section-item {
      list-style: none;

      .links {
        color: $white-color;
        text-decoration: none;
        display: block;
        margin-bottom: 20px;

        @media (width >= 768px) {
          margin-bottom: unset;
        }

        @media (width >= 1024px) {
          position: relative;
          opacity: 0.5;
          transition: all 0.233s ease-in;

          &:hover {
            opacity: 1;
            text-decoration: none;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 3px;
            background-color: $orange-color;
            transition: all 0.233s ease-in;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }

  .menu {
    i {
      font-size: 25px;
      color: $white-color;
    }

    @media (width >= 768px) {
      display: none;
    }
  }
}

.intro {
  @media (width >= 768px) {
    @include display_flex_space_between;
    gap: 23px;
  }

  .intro_animation {
    text-align: center;
    @include display_flex_center;
    flex-direction: column;

    @media (width >= 768px) {
      width: 50%;
    }

    .started-animation {
      font-weight: bold;
      color: $white-color;
      max-width: max-content;
      font-size: 25px;
      position: relative;
      @include font_family_oswald;
      letter-spacing: 2px;

      @media (width >= 1224px) {
        font-size: 35px;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &::after {
        background: $white-color;
        width: 3px;
        animation: typewitting 4s steps(41) forwards,
          blink 750ms steps(41) infinite;
      }

      &::before {
        background: $main-color;
        animation: typewitting 4s steps(41) forwards;
      }
    }

    .welcome-text {
      font-size: 22px;
      color: $orange-color;
      font-weight: bold;
      padding: 20px 0;
      transform: translateY(4px);
      opacity: 0;
      animation: fadeInUp 2s ease 4.5s forwards;
      letter-spacing: 2px;

      @media (width >= 1224px) {
        font-size: 27px;
      }
    }
  }

  @keyframes typewitting {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUpImage {
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .profile_picture {
    padding: 20px;
    background-color: $blue-color;
    border-radius: 46% 54% 57% 43% / 50% 35% 65% 50%;

    @media (width >= 768px) {
      width: 50%;
    }

    img {
      width: 100%;
      border-radius: 69% 31% 27% 73% / 48% 46% 54% 52%;
    }
  }
}

.cv_section {
  margin-bottom: 70px;

  .sub-title-wrapper {
    position: relative;

    &.center-middle {
      max-width: 350px;
      margin: 0 auto 50px;
    }

    .square {
      width: 50px;
      height: 100px;
      background-color: $orange-color;
      position: relative;

      &.small-one {
        height: 70px;
      }

      // &::before,
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 20px;
      //   height: 20px;
      //   background-color: $green-color;
      // }

      // &::before {
      //   top: -10px;
      //   right: -10px;
      // }

      // &::after {
      //   bottom: -10px;
      //   left: -5px;
      // }
    }

    .sub-title {
      @include font_family_lora;
      color: $white-color;
      font-size: 25px;
      text-transform: uppercase;
      text-align: left;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      position: absolute;
      top: 16px;
      left: 30px;
    }
  }
}

.cv_section.brief {
  background-color: $secondary-color;
  padding-top: 70px;
}

.brief-wrapper {
  @media (width >= 768px) {
    @include display_flex_space_between;
    gap: 35px;
    align-items: flex-start;
  }

  .about-me-information {
    order: 1;
    @media (width >= 768px) {
      width: 50%;
    }

    .about-name {
      margin-top: 20px;
      margin-bottom: 20px;
      color: $white-color;
      font-size: 1.2rem;
      letter-spacing: 3px;

      span {
        color: $orange-color;
      }
    }

    .about-me {
      color: $white-color;
      margin-bottom: 10px;
      letter-spacing: 2px;
      padding: 0 10px;
      font-size: 1rem;

      @media (width >= 768px) {
        padding: unset;
      }
    }

    .summary {
      color: $white-color;
      line-height: 25px;
      padding: 0 10px;
      letter-spacing: 2px;
      font-size: 1rem;

      @media (width >= 768px) {
        padding: unset;
        max-width: 600px;
      }
    }
  }

  .interest {
    @media (width >= 768px) {
      width: 50%;
    }

    .interest-wrapper {
      margin-top: 20px;

      @media (width >= 768px) {
        margin-top: unset;
      }

      .interest-box {
        border: 1px solid $white-color;
        padding: 15px 20px;
        max-width: 600px;
        margin-left: auto;

        &:first-child {
          margin-bottom: 20px;
        }

        .interest-title {
          color: $yellow-color;

          .return {
            margin-left: 20px;
          }

          .value {
            color: $orange-color;
          }

          .foreach {
            margin-left: 20px;
            color: $orange-color;
          }

          .console {
            margin-left: 40px;
            color: $yellow-color;
          }
        }

        .success {
          color: $green-color;
          margin-bottom: 20px;
        }

        .hobbie-wrapper,
        .lang-flap-wrapper {
          @include display_flex_space_between;
          gap: 10px;

          .hobbie-item {
            text-align: center;

            .hobbie-name {
              margin-top: 10px;
              color: $white-color;
            }
          }
        }
      }
    }
  }
}

.my_journey {
  .flight-announcement {
    text-align: center;
    margin-bottom: 50px;
    color: $white-color;
    font-size: 20px;
    display: none;

    @media (width >= 1024px) {
      display: block;
    }

    @media (width >= 1224px) {
      font-size: 25px;
    }
  }

  .education_journey {
    position: relative;
    margin-top: 25px;

    @media (width >= 768px) {
      margin-top: 90px;
    }

    i.airplane {
      rotate: 90deg;
      right: 0;
      font-size: 45px;
      position: absolute;
      display: none;
      color: #bab8b8;

      @media (width >= 1024px) {
        display: block;
        transform: translate(-30px, 1px);
        position: relative;
        z-index: 10;
      }
    }

    .timeline {
      display: flex;
      justify-content: flex-end;

      @media (width >= 768px) {
        justify-content: center;
        gap: 20px;
      }

      .line {
        display: none;

        @media (width >= 768px) {
          width: 2px;
          height: 30px;
          background-color: $orange-color;
          display: block;
        }
      }
    }

    .time-stop {
      @include display_flex_center;
      flex-direction: column;
      position: relative;
      gap: 10px;
      margin-bottom: 40px;

      @media (width >= 768px) {
        flex-direction: unset;
        gap: 0 30px;
        position: relative;
        margin-bottom: 15px;
      }

      .year,
      .outcome {
        width: 100%;
        color: $white-color;
        max-width: 575px;

        @media (width >= 768px) {
          max-width: 320px;
        }

        @media (width >= 1024px) {
          max-width: 450px;
        }
      }

      .year {
        order: 1;

        @media (width >= 768px) {
          order: unset;
        }

        .work-year {
          border: 1px solid $main-color;
          padding: 10px;
          min-width: 120px;
          max-width: 200px;
          text-align: center;
          height: 70px;
          line-height: 50px;
          background-color: $light-black;
          box-shadow: 5px 5px 5px 0px rgb(28, 28, 28);
          border: 1px solid #272626;
        }

        .work-year.left-pos {
          margin-right: auto;
        }

        .work-year.right-pos {
          margin-left: auto;
        }

        .year-one {
          transform: translateY(-5px);
          display: inline-block;
          color: $green-color;
        }

        .year-two {
          transform: translateY(5px);
          display: inline-block;
        }
      }

      .outcome {
        border: 1px solid $main-color;
        padding: 30px 25px;
        background-color: $light-black;
        box-shadow: 5px 5px 5px 0px rgb(28, 28, 28);
        order: 2;

        @media (width >= 768px) {
          order: unset;
        }

        .timeline-text {
          line-height: 25px;
          letter-spacing: 1.5px;
        }

        .timeline-text:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      .point {
        display: none;

        @media (width >= 768px) {
          width: 25px;
          height: 25px;
          border: 2px solid $orange-color;
          border-radius: 50%;
          position: relative;
          display: block;

          &::before,
          &::after {
            content: "";
            width: 2px;
            height: 105px;
            background-color: $orange-color;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }

          &::before {
            top: 24px;
          }

          &::after {
            bottom: 24px;
          }

          .center-point {
            width: 7px;
            height: 7px;
            background-color: $orange-color;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .still-going-wrapper {
    text-align: center;
    margin-top: 85px;

    .still-going {
      color: $white-color;
      font-size: 20px;
    }
  }
}

.skill-learn {
  .technology-wrapper {
    padding: 0 10px;

    .technology-used {
      @include display_flex_center;
      flex-wrap: wrap;
      gap: 10px 50px;

      @media (width >= 768px) {
        gap: 50px;
      }

      .category {
        text-align: center;
        display: flex;
        flex-direction: column;

        .logo-wrapper {
          @include display_flex_center;
          padding: 10px;
          gap: 30px;
          height: 90px;

          .logo {
            text-align: center;
            border-radius: 58% 42% 45% 55% / 51% 38% 62% 49%;
          }
        }

        .cat {
          color: $white-color;
          font-size: 13px;
          text-transform: uppercase;
          max-width: 100px;
          margin: 5px auto 10px;
          order: 1;
          height: 40px;
        }
      }
    }
  }
}

.cv_section.Portfolio {
  height: auto;

  .switch-btn-wrapper {
    text-align: center;

    .switch-btn-box {
      @include display_flex_center;
      gap: 10px;

      .switch-btn {
        background-color: unset;
        padding: 5px 20px;
        outline: none;
        color: $white-color;
        cursor: pointer;
        text-transform: uppercase;
        border: none;
        font-weight: 400;
        transition: all 0.2333s ease-in;
        @include font_family_oswald;

        &:hover {
          color: $orange-color;
        }

        @media (width >= 1024px) {
          width: max-content;
          padding: 15px 25px;
          font-size: 15px;
        }
      }
    }
  }

  .swiper {
    width: 80%;
    padding-top: 35px;
  }

  .swiper.landscape {
    height: 250px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .no-active-swiper {
    display: none;
  }
}

.cv_section.project-done {
  .project {
    @include display_flex_center;
    align-items: flex-start;
    gap: 30px;

    .left-path {
      width: 100%;

      @media (width >= 768px) {
        padding: 100px 20px 0;
        width: 45%;
      }

      .project-text {
        color: $white-color;
        font-size: 20px;
        letter-spacing: 5px;
        padding-left: 15px;
        width: fit-content;
        margin: auto;
      }

      .small-description {
        margin-top: 50px;
        padding-left: 20px;

        li {
          color: $white-color;
          font-size: 13px;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
      }
    }

    .right-path {
      padding: 0 20px 0;
      display: none;
      width: 100%;

      @media (width >= 768px) {
        display: block;
        width: 45%;
      }

      .filter {
        text-align: center;

        .project-item {
          border: 1px solid $main-color;
          padding: 10px 20px;
          height: 75px;
          margin: auto;
          box-shadow: 2px 4px 4px 0px rgb(28, 28, 28);
          cursor: pointer;
          transition: all 0.233s ease-in;

          .project-dec {
            text-align: left;
            color: $white-color;
            font-size: 15px;
            transition: all 0.233s ease-in;
          }

          &:hover {
            transform: translate(10px, -10px);

            .project-dec {
              color: $orange-color;
            }
          }
        }

        .project-item:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }

    .project-square-l {
      height: 400px;
      border: 1px solid blue;
      margin: 40px auto;
    }
  }

  .project-box {
    width: 100%;
    margin-top: 30px;
    border: 1px solid red;

    .project-wrapper {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);

      @media (width >= 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (width >= 1224px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (width >= 1440px) {
        grid-template-columns: repeat(5, 1fr);
      }

      .indiv-project {
        border: 1px solid blue;
        height: 100px;
      }
    }
  }
}

.cv_section.contact-me {
  .contact-wrapper {
    @include display_flex_space_between;

    .contact_text {
      padding-left: 30px;

      @media (width >= 768px) {
        margin-top: 70px;
      }

      p {
        color: $white-color;
        font-size: 20px;
        letter-spacing: 3px;
      }

      p:last-child {
        margin-top: 50px;

        a {
          color: $green-color;
          font-size: 22px;
          text-decoration: none;
          position: relative;

          &::after {
            content: "";
            width: 50%;
            height: 2px;
            background-color: $green-color;
            position: absolute;
            left: 0;
            bottom: -5px;
            transition: all 0.233s ease-in;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (width >=2200px) {
  .header,
  .footer,
  .wide-dimension-header,
  .wide-dimension-main {
    max-width: $desktop;
    margin: 0 auto;
  }

  .cv_section.Portfolio {
    .swiper,
    .swiper.landscape {
      height: 100%;
    }
  }
}

.to-the-top {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid;
  text-align: center;
  border-radius: 58% 42% 45% 55% / 51% 38% 62% 49%;
  position: fixed;
  bottom: 35px;
  right: 60px;
  z-index: 60;
}

footer {
  height: 75px;
  background-color: $main-color;

  .footer-wrapper {
    @include display_flex_space_between;
    width: 100%;
    height: 100%;
    padding: 0 40px;

    .left-side {
      .all-rights {
        color: $white-color;
        font-size: 11px;
        padding-left: 30px;
      }
    }
  }
}
