@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 180px;
  font-family: "Barlow", sans-serif;
}

/* mobile */
body {
  background-color: #252525;
}

.wide-dimension-header {
  background-color: #242528;
  overflow: hidden;
}

.wide-dimension-main {
  background: linear-gradient(111deg, rgb(0, 0, 0) 0%, rgb(2, 2, 19) 0%, rgb(21, 21, 37) 46%, rgb(0, 130, 157) 100%);
  overflow: hidden;
  position: relative;
}

/* scollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9acd32;
  border-radius: 10px;
}

.logo {
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
}
.logo span {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #ee4036;
}

.high-light-orange {
  color: #ee4036;
}

.high-light-green {
  color: #8bc34a;
}

header {
  background-color: #242528;
  position: sticky;
  top: 0;
  z-index: 20;
  width: 100%;
}
header .header {
  padding: 20px 10px;
  position: relative;
}
header .header .menu-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}
@media (width >= 768px) {
  header .header .menu-items {
    max-width: 600px;
    margin: 20px auto;
  }
}
header .header .menu-items.active {
  width: 50%;
}
header .header .menu-items .section-item {
  list-style: none;
}
header .header .menu-items .section-item .links {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 80px;
}
@media (width >= 1024px) {
  header .header .menu-items .section-item .links {
    position: relative;
    opacity: 0.5;
    transition: all 0.233s ease-in;
    width: unset;
  }
  header .header .menu-items .section-item .links:hover {
    opacity: 1;
    text-decoration: none;
  }
  header .header .menu-items .section-item .links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #ee4036;
    transition: all 0.233s ease-in;
  }
  header .header .menu-items .section-item .links:hover::after {
    width: 100%;
  }
}

.intro .top-picture {
  text-align: center;
  margin-bottom: 20px;
}
.intro .top-picture .linkedin-pic {
  border: 5px solid #ffffff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.intro .intro-animation {
  text-align: center;
}
.intro .intro-animation .started-animation {
  font-weight: bold;
  color: #ffffff;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 1.5rem;
  position: relative;
  letter-spacing: 2px;
  margin: auto;
}
.intro .intro-animation .started-animation::after, .intro .intro-animation .started-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.intro .intro-animation .started-animation::after {
  background: #ffffff;
  width: 3px;
  animation: typewitting 4s steps(41) forwards, blink 750ms steps(41) infinite;
}
.intro .intro-animation .started-animation::before {
  background: #242528;
  animation: typewitting 4s steps(41) forwards;
}
.intro .intro-animation .welcome-text {
  font-size: 30px;
  color: #9acd32;
  font-weight: bold;
  padding: 20px 0;
  letter-spacing: 4px;
  font-family: "Anton SC", sans-serif;
  text-transform: uppercase;
}
@media (width >= 1224px) {
  .intro .intro-animation .welcome-text {
    font-size: 45px;
  }
}
.intro .intro-animation .welcome-text-sub {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 1rem;
  letter-spacing: 1px;
}
.intro .intro-animation .intro-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.intro .intro-animation .intro-btn-wrapper .intro-btn {
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  width: 200px;
  display: block;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
}
.intro .intro-animation .intro-btn-wrapper .intro-btn:hover {
  color: #9acd32;
  border-color: #9acd32;
}
@keyframes typewitting {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}

.cv-section {
  padding: 30px 20px;
}
@media (width >= 768px) {
  .cv-section {
    padding: 50px;
  }
}
.cv-section .sub-title-wrapper {
  position: relative;
}
.cv-section .sub-title-wrapper.center-middle {
  max-width: 350px;
  margin: 0 auto 50px;
}
.cv-section .sub-title-wrapper .square {
  width: 50px;
  height: 100px;
  background-color: #ee4036;
  position: relative;
}
.cv-section .sub-title-wrapper .square.small-one {
  height: 70px;
}
.cv-section .sub-title-wrapper .sub-title {
  font-family: "Anton SC", sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  position: absolute;
  top: 16px;
  left: 30px;
  text-wrap: balance;
  letter-spacing: 4px;
}

@media (width >= 768px) {
  .cv-section.brief .brief-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    align-items: center;
  }
}
.cv-section.brief .brief-wrapper .about-me-information {
  order: 1;
}
@media (width >= 768px) {
  .cv-section.brief .brief-wrapper .about-me-information {
    width: 50%;
  }
}
.cv-section.brief .brief-wrapper .about-me-information .about-name {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 3px;
}
@media (width >= 768px) {
  .cv-section.brief .brief-wrapper .about-me-information .about-name {
    font-size: 1.2rem;
  }
}
.cv-section.brief .brief-wrapper .about-me-information .nice {
  color: #ee4036;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.cv-section.brief .brief-wrapper .about-me-information .summary {
  color: #ffffff;
  line-height: 25px;
  padding: 0 10px;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-top: 20px;
}
@media (width >= 768px) {
  .cv-section.brief .brief-wrapper .about-me-information .summary {
    padding: unset;
    max-width: 600px;
  }
}
.cv-section.brief .brief-wrapper .about-me-information .summary span {
  color: #ffffff;
  margin-bottom: 10px;
  letter-spacing: 2px;
  padding: 0 10px;
  font-size: 1rem;
  display: block;
}
@media (width >= 768px) {
  .cv-section.brief .brief-wrapper .about-me-information .summary span {
    padding: unset;
  }
}
.cv-section.brief .profile-picture {
  padding: 20px;
  border-radius: 46% 54% 31% 86%/66% 44% 71% 49%;
}
@media (width >= 768px) {
  .cv-section.brief .profile-picture {
    width: 50%;
    text-align: center;
  }
}
@media (width >= 1224px) {
  .cv-section.brief .profile-picture {
    width: 45%;
  }
}
.cv-section.brief .profile-picture img {
  width: 100%;
  border-radius: 69% 31% 27% 73%/48% 46% 54% 52%;
}
@media (width >= 768px) {
  .cv-section.brief .profile-picture img {
    width: 70%;
  }
}

.cv-section.my-journey .flight-announcement {
  text-align: center;
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 20px;
  display: none;
}
@media (width >= 1224px) {
  .cv-section.my-journey .flight-announcement {
    display: block;
  }
}
@media (width >= 1224px) {
  .cv-section.my-journey .flight-announcement {
    font-size: 25px;
  }
}
.cv-section.my-journey .education-journey {
  position: relative;
  margin-top: 25px;
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey {
    margin-top: 90px;
  }
}
.cv-section.my-journey .education-journey i.airplane {
  rotate: 90deg;
  right: 0;
  font-size: 45px;
  position: absolute;
  display: none;
  color: #bab8b8;
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey i.airplane {
    display: block;
    transform: translate(-30px, 1px);
    position: relative;
    z-index: 10;
  }
}
.cv-section.my-journey .education-journey .timeline {
  display: flex;
  justify-content: flex-end;
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey .timeline {
    justify-content: center;
    gap: 20px;
  }
}
.cv-section.my-journey .education-journey .timeline .line {
  display: none;
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey .timeline .line {
    width: 2px;
    height: 30px;
    background-color: #ee4036;
    display: block;
  }
}
.cv-section.my-journey .education-journey .time-stop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 10px;
  margin-bottom: 40px;
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey .time-stop {
    flex-direction: unset;
    gap: 0 30px;
    position: relative;
    margin-bottom: 15px;
  }
}
.cv-section.my-journey .education-journey .time-stop .year,
.cv-section.my-journey .education-journey .time-stop .outcome {
  width: 100%;
  color: #ffffff;
  max-width: 575px;
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey .time-stop .year,
  .cv-section.my-journey .education-journey .time-stop .outcome {
    max-width: 320px;
  }
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey .time-stop .year,
  .cv-section.my-journey .education-journey .time-stop .outcome {
    max-width: 450px;
  }
}
.cv-section.my-journey .education-journey .time-stop .year {
  order: 1;
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey .time-stop .year {
    order: unset;
  }
}
.cv-section.my-journey .education-journey .time-stop .year .work-year {
  border: 1px solid #242528;
  padding: 10px;
  min-width: 120px;
  max-width: 200px;
  text-align: center;
  height: 70px;
  line-height: 50px;
  background-color: #292a2e;
  border: 1px solid #272626;
}
.cv-section.my-journey .education-journey .time-stop .year .work-year.left-pos {
  margin-right: auto;
}
.cv-section.my-journey .education-journey .time-stop .year .work-year.right-pos {
  margin-left: auto;
}
.cv-section.my-journey .education-journey .time-stop .year .year-one {
  transform: translateY(-5px);
  display: inline-block;
  color: #8bc34a;
}
.cv-section.my-journey .education-journey .time-stop .year .year-two {
  transform: translateY(5px);
  display: inline-block;
}
.cv-section.my-journey .education-journey .time-stop .outcome {
  border: 1px solid #242528;
  padding: 30px 25px;
  background-color: #292a2e;
  order: 2;
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey .time-stop .outcome {
    order: unset;
  }
}
.cv-section.my-journey .education-journey .time-stop .outcome .timeline-text {
  line-height: 25px;
  letter-spacing: 1.5px;
}
.cv-section.my-journey .education-journey .time-stop .outcome .timeline-text:not(:last-child) {
  margin-bottom: 10px;
}
.cv-section.my-journey .education-journey .time-stop .point {
  display: none;
}
@media (width >= 1224px) {
  .cv-section.my-journey .education-journey .time-stop .point {
    width: 25px;
    height: 25px;
    border: 2px solid #ee4036;
    border-radius: 50%;
    position: relative;
    display: block;
  }
  .cv-section.my-journey .education-journey .time-stop .point::before, .cv-section.my-journey .education-journey .time-stop .point::after {
    content: "";
    width: 2px;
    height: 105px;
    background-color: #ee4036;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .cv-section.my-journey .education-journey .time-stop .point::before {
    top: 24px;
  }
  .cv-section.my-journey .education-journey .time-stop .point::after {
    bottom: 24px;
  }
  .cv-section.my-journey .education-journey .time-stop .point .center-point {
    width: 7px;
    height: 7px;
    background-color: #ee4036;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.cv-section.my-journey .still-going-wrapper {
  text-align: center;
}
@media (width >= 1224px) {
  .cv-section.my-journey .still-going-wrapper {
    margin-top: 85px;
  }
}
.cv-section.my-journey .still-going-wrapper .still-going {
  color: #ffffff;
  font-size: 20px;
}
.cv-section.my-journey .still-going-wrapper .download {
  margin-top: 20px;
  text-transform: uppercase;
}
.cv-section.my-journey .still-going-wrapper .download a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  width: 200px;
  margin: auto;
  cursor: pointer;
  transition: all 0.233s ease-in;
}
.cv-section.my-journey .still-going-wrapper .download a:hover {
  color: #9acd32;
  border-color: #9acd32;
}

.cv-section.Portfolio {
  height: auto;
}
.cv-section.Portfolio .portfolio-text {
  text-align: center;
  margin: 50px 0;
  color: #ffffff;
  font-size: 1.2rem;
}
.cv-section.Portfolio .switch-btn-wrapper {
  text-align: center;
}
.cv-section.Portfolio .switch-btn-wrapper .switch-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.cv-section.Portfolio .switch-btn-wrapper .switch-btn-box .switch-btn {
  background-color: unset;
  padding: 5px 20px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  font-weight: 400;
  transition: all 0.2333s ease-in;
  font-family: "Barlow", sans-serif;
}
.cv-section.Portfolio .switch-btn-wrapper .switch-btn-box .switch-btn.active {
  color: #ee4036;
}
.cv-section.Portfolio .switch-btn-wrapper .switch-btn-box .switch-btn:hover {
  color: #ee4036;
}
@media (width >= 1024px) {
  .cv-section.Portfolio .switch-btn-wrapper .switch-btn-box .switch-btn {
    width: -moz-max-content;
    width: max-content;
    padding: 15px 25px;
    font-size: 15px;
  }
}
.cv-section.Portfolio .portfolio-wrapper .portfolio {
  display: none;
}
.cv-section.Portfolio .portfolio-wrapper .portfolio.active {
  display: block;
}
.cv-section.Portfolio .portfolio-wrapper .swiper {
  width: 80%;
  padding-top: 35px;
}
.cv-section.Portfolio .portfolio-wrapper .swiper.landscape {
  height: 250px;
}
.cv-section.Portfolio .portfolio-wrapper .swiper-slide img {
  display: block;
  width: 100%;
}
.cv-section.Portfolio .portfolio-wrapper .no-active-swiper {
  display: none;
}

.cv-section.skill-learn .tect-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (width >= 768px) {
  .cv-section.skill-learn .tect-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.cv-section.skill-learn .tect-wrapper .tect {
  border: 1px solid #252525;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}
@media (width >= 1224px) {
  .cv-section.skill-learn .tect-wrapper .tect {
    background-color: #252525;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    max-width: 300px;
  }
}
.cv-section.skill-learn .tect-wrapper .tect h3 {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
.cv-section.skill-learn .tect-wrapper .tect .tect-learn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width >= 768px) {
  .cv-section.skill-learn .tect-wrapper .tect .tect-learn-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
  }
}
@media (width >= 1024px) {
  .cv-section.skill-learn .tect-wrapper .tect .tect-learn-wrapper {
    height: 500px;
  }
}
@media (width >= 1224px) {
  .cv-section.skill-learn .tect-wrapper .tect .tect-learn-wrapper {
    transition: 0.5s;
    filter: brightness(0);
  }
  .cv-section.skill-learn .tect-wrapper .tect .tect-learn-wrapper:hover {
    filter: brightness(1);
    transform: translateZ(50px);
  }
}
.cv-section.skill-learn .tect-wrapper .tect .tect-learn-wrapper img {
  width: 20%;
}
@media (width >= 768px) {
  .cv-section.skill-learn .tect-wrapper .tect .tect-learn-wrapper img {
    width: 25%;
  }
}

.cv-section.project-done .lastest-project {
  margin-bottom: 20px;
}
@media (width >= 768px) {
  .cv-section.project-done .lastest-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.cv-section.project-done .lastest-project .last {
  color: #ffffff;
  margin-bottom: 20px;
}
.cv-section.project-done .lastest-project .newest-project {
  margin-bottom: 20px;
}
.cv-section.project-done .lastest-project .project-box.newest .frame {
  height: 500px;
}
.cv-section.project-done .project-wrapper {
  display: grid;
  overflow-y: scroll;
  flex: 1;
  gap: 10px;
}
@media (width >= 768px) {
  .cv-section.project-done .project-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width >= 1024px) {
  .cv-section.project-done .project-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.cv-section.project-done .project-box {
  border: 1px solid red;
}
.cv-section.project-done .project-box .project-link {
  color: #ffffff;
  text-decoration: none;
}
.cv-section.project-done .project-box .project-link .frame {
  width: 100%;
  background-color: #242528;
  text-align: center;
  margin-bottom: 20px;
  height: 300px;
}
.cv-section.project-done .project-box .project-link .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cv-section.project-done .project-box .project-link .project-title,
.cv-section.project-done .project-box .project-link .project-detail,
.cv-section.project-done .project-box .project-link .tect-used {
  margin-bottom: 20px;
  padding: 0 20px;
}
.cv-section.project-done .project-box .project-link .tect-used {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cv-section.project-done .project-box .project-link .tect-used .tect-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cv-section.project-done .project-box .project-link .tect-used .tect-wrapper .tect {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #252525;
  display: grid;
  place-items: center;
  border: 1px solid #ffffff;
}
.cv-section.project-done .project-box .project-link .tect-used .tect-wrapper .tect:nth-child(2) {
  transform: translateX(-5px);
}
.cv-section.project-done .project-box .project-link .tect-used .tect-wrapper .tect:nth-child(3) {
  transform: translateX(-10px);
}
.cv-section.project-done .project-box .project-link .tect-used .tect-wrapper .tect img {
  width: 60%;
}
.cv-section.project-done .project-box .project-link .tect-used .fa-external-link-alt {
  padding-left: 5px;
}

@media (width >= 768px) {
  .cv-section.contact-me .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    max-width: 90%;
    margin: auto;
  }
}
.cv-section.contact-me .contact-wrapper .contact-text {
  width: 100%;
}
@media (width >= 768px) {
  .cv-section.contact-me .contact-wrapper .contact-text {
    padding-left: 30px;
    width: 50%;
  }
}
.cv-section.contact-me .contact-wrapper .contact-text p {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 3px;
}
.cv-section.contact-me .contact-wrapper .contact-text p:last-child {
  margin-top: 30px;
}
@media (width >= 768px) {
  .cv-section.contact-me .contact-wrapper .contact-text p:last-child {
    margin-top: 50px;
  }
}
.cv-section.contact-me .contact-wrapper .contact-text p:last-child a {
  color: #8bc34a;
  font-size: 22px;
  text-decoration: none;
  position: relative;
}
.cv-section.contact-me .contact-wrapper .contact-text p:last-child a::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #8bc34a;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.233s ease-in;
}
.cv-section.contact-me .contact-wrapper .contact-text p:last-child a:hover::after {
  width: 100%;
}
.cv-section.contact-me .contact-wrapper .phone-contact {
  width: 100%;
  margin-top: 30px;
}
@media (width >= 768px) {
  .cv-section.contact-me .contact-wrapper .phone-contact {
    width: 50%;
    margin-left: 30px;
    margin-top: unset;
  }
}
@media (width >= 768px) {
  .cv-section.contact-me .contact-wrapper .phone-contact address {
    max-width: 200px;
    margin: auto;
  }
}
.cv-section.contact-me .contact-wrapper .phone-contact address .call-me {
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 20px;
  margin-bottom: 10px;
}
.cv-section.contact-me .contact-wrapper .phone-contact address .phone-number .link-contact {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  margin-bottom: 10px;
  display: block;
}

@media (width >= 1500px) {
  .header,
  .footer-wrapper,
  .cv-section {
    max-width: 1370px;
    margin: 0 auto;
  }
  .cv-section.Portfolio .swiper,
  .cv-section.Portfolio .swiper.landscape {
    height: 100%;
  }
}
.action-btn {
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 60;
  cursor: pointer;
  font-size: 35px;
}
@media (width >= 1024px) {
  .action-btn {
    right: 45px;
  }
}
.action-btn i {
  color: #8bc34a;
}

footer {
  background-color: #242528;
}
footer .footer-wrapper {
  padding: 10px;
}
@media (width >= 768px) {
  footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}
footer .footer-wrapper .left-side .all-rights {
  color: #ffffff;
  font-size: 11px;
  padding-left: 30px;
}
footer .footer-wrapper .right-side {
  margin-top: 10px;
  text-align: center;
}
@media (width >= 768px) {
  footer .footer-wrapper .right-side {
    margin-top: unset;
    text-align: unset;
  }
}
footer .footer-wrapper .right-side .link .social-link {
  color: #ffffff;
  font-size: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.icon {
  padding-left: 10px;
}/*# sourceMappingURL=style.css.map */