@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
}

.wide-dimension {
  max-width: 1600px;
  margin: 0 auto;
  border: 1px solid #000000;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}
.main_header .main_header--logo .logo-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.main_header .main_header--section-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.main_header .section-item {
  list-style: none;
}
.main_header .section-item .links {
  color: #faab36;
  text-decoration: none;
}
.main_header .section-item .links:hover {
  text-decoration: underline;
}

.intro_animation {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 985px;
}
.intro_animation .started-animation {
  font-weight: bold;
  color: #00b4d8;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 75px;
  position: relative;
  font-family: "Oswald", sans-serif;
}
.intro_animation .started-animation::after, .intro_animation .started-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.intro_animation .started-animation::after {
  background: #ffffff;
  width: 3px;
  animation: typewitting 4s steps(41) forwards, blink 750ms steps(41) infinite;
}
.intro_animation .started-animation::before {
  background: #1b1b1b;
  animation: typewitting 4s steps(41) forwards;
}
.intro_animation .welcome-text {
  font-size: 50px;
  color: #faab36;
  font-weight: bold;
  padding: 20px 0;
  transform: translateY(4px);
  opacity: 0;
  animation: fadeInUp 2s ease 4.5s forwards;
}

.intro-image {
  opacity: 0;
  transform: translateY(80px);
  animation: fadeInUpImage 2s ease 6s forwards;
}
.intro-image img {
  width: 70%;
}

@keyframes typewitting {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUpImage {
  to {
    opacity: 1;
    transform: translateY(70px);
  }
}
.cv_section {
  margin-bottom: 20px;
  border: 1px solid #000000;
  padding: 30px 0;
}
.cv_section .sub-title {
  text-align: center;
  font-family: "Lora", serif;
  color: #faab36;
  font-size: 40px;
}

.cv_section.profile_summary {
  position: relative;
  overflow: hidden;
  height: 600px;
}
.cv_section.profile_summary .profile_summary__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.cv_section.profile_summary .profile_summary__wrapper .animation-square-blue {
  width: 10px;
  height: 60%;
  background-color: #00b4d8;
  position: absolute;
  bottom: 0;
  left: 100px;
}
.cv_section.profile_summary .profile_summary__wrapper .animation-square-orange {
  width: 10px;
  height: 60%;
  background-color: #faab36;
  position: absolute;
  top: 0;
  left: 120px;
}
.cv_section.profile_summary .profile_summary__wrapper .profile_picture {
  width: 50%;
}
.cv_section.profile_summary .profile_summary__wrapper .profile_summary {
  width: 50%;
}
.cv_section.profile_summary .profile_summary__wrapper .profile_summary .about-table {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
  color: #00b4d8;
}
.cv_section.profile_summary .profile_summary__wrapper .profile_summary .about-table tr {
  height: 20px;
}
.cv_section.profile_summary .profile_summary__wrapper .profile_summary .about-table td {
  width: 200px;
  height: 75px;
  border: 1px solid;
}
.cv_section.profile_summary .profile_summary__wrapper .profile_summary .profile_summary_text {
  color: #00b4d8;
  padding: 10px;
  line-height: 30px;
}

.cv_section.addition_info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv_section.addition_info .addition_info__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: unset;
  flex-wrap: wrap;
}
.cv_section.addition_info .addition-activity {
  border: 1px solid #060a1f;
  padding: 20px 5px;
  width: 47.5%;
  margin: 10px;
  min-height: 530px;
}
.cv_section.addition_info .addition-activity .addition-info-title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  color: #00b4d8;
}
.cv_section.addition_info .addition-activity .hobbie-wrapper,
.cv_section.addition_info .addition-activity .lang-flap-wrapper,
.cv_section.addition_info .addition-activity .eduction-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.cv_section.addition_info .addition-activity .skill-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.cv_section.addition_info .addition-activity .skill-wrapper .skill-item {
  text-align: center;
  border: 1px solid #000000;
  min-height: 250px;
  padding: 10px;
  max-width: 200px;
  width: 100%;
}
.cv_section.addition_info .addition-activity .skill-wrapper .skill-item .skill-title {
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 20px;
}
.cv_section.addition_info .addition-activity .skill-wrapper .skill-item > p {
  line-height: 30px;
}
.cv_section.addition_info .addition-activity .hobbie-wrapper .hobbie-item {
  text-align: center;
}
.cv_section.addition_info .addition-activity .hobbie-wrapper .hobbie-item i {
  padding-top: 18px;
}
.cv_section.addition_info .addition-activity .hobbie-wrapper .hobbie-item .hobbie-name {
  margin-top: 10px;
  display: block;
}
.cv_section.addition_info .addition-activity .lang-flap-wrapper .lang-item {
  text-align: center;
  width: 120px;
}
.cv_section.addition_info .addition-activity .lang-flap-wrapper .lang-name {
  display: block;
  margin-top: 5px;
}
.cv_section.addition_info .addition-activity .education-year {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  gap: 5px;
}
.cv_section.addition_info .addition-activity .education-year .time-year {
  width: 100px;
}
.cv_section.addition_info .addition-activity .education-year .timeline {
  width: 30px;
  height: 30px;
  border: 5px solid #000000;
  border-radius: 50%;
  position: relative;
}
.cv_section.addition_info .addition-activity .education-year .timeline::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.cv_section.addition_info .addition-activity .education-year .timeline::before {
  content: "";
  width: 2px;
  height: 120px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cv_section.addition_info .addition-activity .education-year .time-outcome {
  width: 200px;
}

.cv_section.career_path {
  height: 1065px;
}
.cv_section.career_path .flight-announcement {
  width: 100%;
  height: 985px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv_section.career_path .flight-announcement .flight-text {
  font-weight: bold;
  font-size: 40px;
  color: #00b4d8;
}

.to-the-top {
  height: 60px;
  width: 60px;
  border: 1px solid #faab36;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #faab36;
  z-index: 20;
  border-radius: 50%;
}
.to-the-top .top {
  font-size: 30px;
  color: #00b4d8;
}

.cv_section.project_done {
  height: auto;
}
.cv_section.project_done .swiper {
  width: 100%;
  height: 50vh;
}
.cv_section.project_done .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv_section.project_done .swiper .swiper-slide.img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cv_section.contact_me {
  text-align: center;
  height: 565px;
}
.cv_section.contact_me .contact_me_wrapper {
  margin-top: 30px;
  margin-bottom: 40px;
  color: #00b4d8;
}
.cv_section.contact_me .contact_me_method_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.cv_section.contact_me .contact_me_method_wrapper .contact_me_method_text {
  border: 1px solid;
  padding: 20px;
}
.cv_section.contact_me .contact_me_method_wrapper .contact_me_method_text span {
  display: block;
  line-height: 50px;
}

footer {
  height: 55px;
  text-align: center;
  display: grid;
  place-content: center;
  color: #ffffff;
  background-color: #00b4d8;
}/*# sourceMappingURL=style.css.map */